* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

body {
  font-family: quicksand, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  background: #000000;
}

#home {
  background: url("../images/hero.jpg") center/cover no-repeat;
  position: relative;
  min-height: 100vh;
}

#character {
  background: url("../images/background_character.jpeg") center/cover no-repeat;
  position: relative;
  min-height: 100vh;
}

h2, h1 {
  font-family: itc-benguiat, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 2% 0;
  color: white;
}

header {
  background-color: #000000;
  display: inline;
}

header img {
  height: 40px;
}

nav {
  display: inline;
  text-align: center;
  max-width: 100%;
  position: relative;
}

nav ul li a {
  font-family: itc-benguiat, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.w-image {
  display: flex;
  justify-content: space-between;
  max-width: 23%;
  margin: 0 auto;
}

.waffle {
  width: 40px;
  transition: width 1s, height 1s, transform 1s;
}

.waffle1, .waffle2, .waffle3 {
  text-align: center;
  transition: transform 1s;
}

.waffle1:hover, .waffle2:hover, .waffle3:hover {
  transform: rotate(720deg);
}

.logo {
  height: 125px;
  display: inline;
  margin: 2%;
}

nav ul {
  text-decoration: none;
}

nav ul li {
  display: inline;
  padding: 2%;
}

nav ul li a {
  color: #eb3335;
  text-decoration: none;
}

/* Game container*/
#game {
  max-width: 100%;
  margin: 0px auto;
  padding: 2% 5% 10% 11%;
}

/* Child container of #game */
#picbox {
  margin: 0px auto;
  max-width: 640px;
  margin-bottom: 35%;
}

/* Div for each individual box containing the cards */
#boxcard {
  z-index: 1;
  margin: 10px 0 0;
}

#boxcard div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 4px solid #ba2929;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  background: #000000;
  z-index: 2;
}

#boxcard div img {
  display: none;
  border-radius: 10px;
  z-index: 3;
}

/* Div holding click counter and Reset button for game */
#boxbuttons {
  text-align: center;
  margin: 20px;
  display: block;
  color: white;
  padding-right: 14%;
}

#boxbuttons .button {
  text-transform: uppercase;
  background: #ba2929;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#boxbuttons .button:hover {
  background: #999;
}

/* Home page  */
.bg-music {
  position: absolute;
  top: 64%;
  left: 0;
  right: o;
  margin: 0 auto;
}

/* Character page styles  */
html {
  background-color: black;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* Cards Styling  */
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: #8E8D7B;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background-color: #8E8D7B;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

/* Media Q */
@media screen and (max-width: 500px) {
  .w-image {
    display: none;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
